@charset "utf-8";

$primary_color: #E56274;
$secondary_color: #58B2BE;
$light_pink: #FF9698;

$logo_grey: #1A1311;
$dark_grey: #3B3B3B;

$title_grey: #888888;
$placeholder_grey: #AAAAAA;

$content_grey: #656565;
$light_content_grey: #9597A6;

$bg_color_y: #FFF7EA;
$bg_color_grey: #F4F4F4;
$form_border_grey: #DDDDDD;
$border_color_grey: #DBDBDB;
$border_color_light_grey: #F2F2F2;

$back_btn: #F2F2F2;

$brownish_color: #EBD576;