@charset "utf-8";

/* フォント */
@font-face {
    font-family: 'AXIS Std-B';
    src: url("../font/AxisStd-Bold.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'AXIS Std-H';
    src: url("../font/AxisStd-Heavy.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'AXIS Std-M';
    src: url("../font/AxisStd-Medium.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'AXIS Std-R';
    src: url("../font/AxisStd-Regular.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'AXIS Std-L';
    src: url("../font/AxisStd-Light.otf");
    font-display: fallback;
}



@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../font/Montserrat-Bold.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../font/Montserrat-Regular.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../font/Montserrat-Medium.otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../font/Montserrat-Light.otf");
    font-display: fallback;
}