@charset "utf-8";

/* 変数 */
$color01: #000000;

$fs-bold: bold;
$fs-normal: normal;

/*画面サイズ*/
$res1-width: 1920;
$res2-width: 1500;
$res3-width: 992;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-v {
    display: flex;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-center-y {
    position: absolute;    
    top: 50%;
    transform: translateY(-50%);
}